<nav class="navbar">
    <div class="wrapper">
        <ul class="navbar-right">
            <li><a href="{% url 'homepage' %}">Accueil</a></li>
            <li><a href="{% url 'restaurants' %}">Restaurants</a></li>
            <li><a href="{% url 'employee' %}">Employés</a></li>
            <li><a href="{% url 'ratings' %}">Ratings</a></li>
            <li><a href="{% url 'register' %}">Inscription</a></li>
            <li><a href="{% url 'login_1' %}">Connexion</a></li>
        </ul>
    </div>
</nav>